<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-1 p-1 border-right ">
        <div >
            <img src="assets/art.jpg" width="78px" height="92px">
        </div>
    </div>
            <!-- Détails articles -->
    <div class="col-md-4 border-right ">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Nom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">Prénoms</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
                <div class="col-md-11">00228 70 34 56 77</div>
            </div>          
        </div>
    </div>
        <!-- Détails commande -->
    <div class="col-md-3 border-right">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-qrcode blue-color"></i></div>
                <div class="col-md-10">CMD-2345678</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-calendar-check blue-color"></i></div>
                <div class="col-md-10">22-03-2023</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fas fa-cart-arrow-down blue-color"></i></div>
                <div class="col-md-10">LIVREE</div>
            </div>          
        </div>
    </div>

            <!-- Détails boutons -->
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6 text-center">
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                   <i class="fas fa-pencil-alt"></i>&nbsp; Modifier
                </button>
            </div>
            <div class="col-md-6 text-center">
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
                   <i class="fas fa-trash-alt"></i>&nbsp; Supprimer
                </button>
            </div>
        </div>
    </div>
</div>
