<div class="row mb-1 mr-0 custom-border">
            <!-- Détails articles -->
    <div class="col-md-3 border-right mb-1 mt-1">   
            <div class="row">
                <div class="col-md-11">22-03-2023</div>
            </div>               
    </div>
        <!-- Détails catégorie -->
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-12">
                <h5>139</h5>
            </div>
        </div>
    </div>
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-12">
                <h5>Sortie</h5>
            </div>
        </div>
    </div>
    

            <!-- Détails boutons -->
    <div class="col-md-3 mb-1 mt-1 text-center">
        <div class="row">
          <h5>COMMANDE_CLIENT</h5>
        </div>
    </div>
</div>

