<div class="row m-3">
    <div class="card col-md-4 me-3 text-center me-3">
        <div class="col p-2">
            <div class="mb-3">
                <img src="assets/art.jpg" class="rounded-circle" width="130px" height="130px">
            </div>
            <div class="mb-3">
                <h2>Nom Prénoms</h2>
                <small>Adresse, ville, 12354</small>
            </div>
            <div class="col d-flex pad  mt-3 p-0">
                <button type="button" class="btn btn-primary btn-sm">Modifier le profil</button>
                <button type="button" class="btn btn-warning btn-sm ms-1" (click)="changePassword()">Changer le mot de passe</button>
                
            </div>
            
        </div>
    </div>
    <div class="card col-md-7">
        <table class="table">
            <tbody>
              <tr>
                <th scope="row">Nom complet</th>
                <td>Nom Prénoms</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>Jacob@gmail.com</td>
              </tr>
              <tr>
                <th scope="row">Téléphone</th>
                <td>@00228 98 89 67 54</td>
              </tr>
              <tr>
                <th scope="row">Adresse</th>
                <td>Adresse, Ville, 13452</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>