<div class="row mb-1 mr-0 custom-border">
    <!-- Détails articles -->
    <div class="col-md-3 border-right mb-1 mt-1">   
        <div class="row text-center">
            <div class="col-md-11">Code article</div>
        </div>               
    </div>


    <!-- Détails catégorie -->
 <div class="col-md-3 border-right mb-1 mt-1">
    <div class="row">
        <div class="col-md-12 text-center">
            <h5>Désignation article</h5>
        </div>
    </div>
 </div>

    <div class="col-md-2 border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-12 text-center">
                <h5>6</h5>
            </div>
        </div>
    </div>

    <div class="col-md-2 border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-12 text-center">
                <h5>12,5</h5>
            </div>
        </div>
    </div>

    <!-- Détails boutons -->
    <div class="col-md-2 mb-1 mt-1 text-center">
        <div class="row">
           <h5>73,9</h5>
        </div>
    </div>
</div>

